@media all and (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}
#Avatar > img{
  width: 100pt;
}
html,body{
  font-family: Verdana, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0; /* all the page is html and body*/
}
a{
    color: #0681d0;
}
.container{
      width:95%;
      margin:0 0 0 2%;
}

.header {
      width:100%;
      margin:0 0 20px 0;
}

.header > h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    white-space: pre-wrap;
    font-weight: normal;
    text-transform: uppercase;
}

.middle {
      width: 100%;
      height: 100%;
}

.footer {
      width:100%;
      float: left;
}

footer > a > img{
    vertical-align: middle;
}

#TitleWithToc {
    width:20%;
    height:100%;
    float:left;
    padding: 1% 1% 2% 2%;
    line-height: 200%;
}
#TitleOfToc {
    font-size: x-large ;
}
#TableOfContents *{
    font-size: normal ;
}
#TableOfContents > ul {
    width:100%;
    padding:0 0 0 1%;
}
#TableOfContents > ul > li >ul {
    padding:0 0 0 10%;
    overflow:hidden; /*超出宽度隐藏*/
}

#content {
    width:60%;
    float:left;
    overflow:hidden; /*超出宽度隐藏*/
}

img {
    max-width:100%;
}
figcaption {
  height: 10%;
  font-size:70%;
  color:#999;
  margin:0 auto;
  width:100%;
}

#Rsidebar {
	width: 10%;
	float: right;
	padding:0 2% 0 2%;
}
#Rsidebar > ul {
    padding:0 0 0 5%;
    margin:0 0 10% 0;
}

/*tags*/

#tags {
}
#tags >ul >li {
    margin:0 0.1% 0 0;
    display: inline;
}
#tags >ul{
    list-style-type: none;
    display: inline;
    padding: 0 0 0 0;
}
#tags > a{
    color: #000000;
}
footer {
      float: left;
}
del{
    text-decoration-thickness: 1.5px
}


