<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>{{.Title}}</title>

<!--ref: https://note.qidong.name/2020/07/mermaid/-->
{{ if .Params.code }}
  {{ partial "head_hljs.html" . }}
{{end}}
<!--import first then modify-->

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/gh-table.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/footer.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/code.css">
<!-- awesome icon-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">

<link rel="icon" id="light-scheme-icon" href="{{ .Site.BaseURL }}/static/favicon_smile_Light.ico" type="image/x-icon">
<link rel="icon" id="dark-scheme-icon" href="{{ .Site.BaseURL }}/static/favicon_smile_Dark.ico" type="image/x-icon">
<script src="{{ .Site.BaseURL }}/js/favicon.js"></script> 

{{ if .Params.mermaid }}
  {{ partial "head_mermaid.html" . }}
{{ end }}

{{ if or (not (isset .Params "exFonts")) (.Params "exFonts" eq "") }}
{{ if in .Params.exFonts "Playfair Display" }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
{{ end }}
{{ end }}
