<style>
/* Set svg to center */
.mermaid svg {
    display: block;
    margin: auto;
}
</style>


<!--https://stackoverflow.com/questions/41394983/how-to-defer-inline-javascript-->
<script defer src="data:text/javascript,
// https://zh.javascript.info/script-async-defer
// Replace mermaid pre.code to div
Array.from(document.getElementsByClassName('mermaid')).forEach(el => {
    el.outerHTML = `<span><div class='mermaid'>${el.innerText}</div></span>`
})
"></script>

<script src="https://cdn.jsdelivr.net/npm/mermaid@8.14.0/dist/mermaid.core.min.js"></script>
