<!DOCTYPE html>
<html>
  <head>
    {{partial "head.html" . }}
  </head>
<body>
  <div class="container">
    <div class="header"> {{ partial "header.html" . }} </div>
    <div class="middle">
      <div id="content">
	<dl>
	{{ range $.Data.Pages }}
	  <dt><a href={{ .Permalink }}>{{ .Title }}</a></dt>
	    <dd>[{{ .Page.Lastmod.Format "Mon, 2006-01-02" }}]</dd>
	    <dd>{{ .Description }}</dd>
	{{ end }}
	</dl>
	</div>
    </div>
    <div class="footer">
      {{ partial "footer.html" . }}
    </div>
  </div>

</body>
</html>
